/* 
	#1b1b1f - темный основной  
	black - текст (темный)
	white - текст (светлый)
	#fee232 - желтый
	#c30e18 - красный
*/

#board > h1 {
	text-align: center;
	font-size: 140%;
	font-weight: bold;
	margin-bottom: 20px;
}
#board article h1 a {
	display: block;
	margin-bottom: 10px;
}
#board article img {
	width: 100px;
	height: 80px;
}
#board article {
	width: 45%;
	display: inline-block;
}
#board td {
	vertical-align: top;
}
#board {
	margin-right: 270px;
}
#how_in {
	float: left;
	position: absolute;
	color: #c30e18;
}