/* 
	#2f3a49 - темный основной  
	#505d6f - посветлее основной
	#2f3a49 - текст (темный)
	white - текст (светлый)
	#18b5eb - синий основной
	#a4a4a4 - обрамление полей инпут светло-светло-серый
	#efefef - светло серый (блок)
	#e0e0e0 - светло серый темнее (блок)
	#13a9dd - синий темный
*/
#column_center {
	width: 70%;
	margin: 0 10% 0 23%;
}
#content_wrap {
	margin-top: 30px;
}
#main {
	margin: 0 25px;
}
#wrap {
	/*min-width: 1000px;*/
}
footer {
	/*min-width: 950px;*/
}
#column_center h2 {
	font-size: 150%;
	font-weight: bold;
	display: inline-block;
	margin: 10px 0;
}
#column_center h2:first-child {
	margin-top: 0;
}
aside nav ul li {
	font-size: 150%;
	margin-bottom: 8px;
}
#column_center p {
	margin: 5px 0;
	text-indent: 5px;
}