/* 
	#2f3a49 - темный основной  
	#505d6f - посветлее основной
	#2f3a49 - текст (темный)
	white - текст (светлый)
	#18b5eb - синий основной
	#a4a4a4 - обрамление полей инпут светло-светло-серый
	#efefef - светло серый (блок)
	#e0e0e0 - светло серый темнее (блок)
	#13a9dd - синий темный
*/
#column_center {
	width: 70%;
	margin-left: 25%;
	margin-right: 10%;
}
#content_wrap {
	margin-top: 30px;
}
#main {
	margin: 0 25px;
}
#wrap {
	/*min-width: 1000px;*/
}
footer {
	/*min-width: 950px;*/
}
#top_head h2 {
	font-size: 150%;
	font-weight: bold;
	display: inline-block;
}
#top_head .dark_button {
	padding-right: 25px !important;
	padding: 7px 10px;
	vertical-align: top;
}
#show_on_map {
	background-image: url('../images/map.png');
	background-repeat: no-repeat;
	background-position: right center;
}
#shop_category li {
	display: inline-block;
	font-weight: bold;
	margin-right: 13px;
}
#shop_category {
	margin: 14px 0;
}
#shop_category li.active, #shop_category li a:hover {
	color: #13a9dd;
}
#settings_prices {
	display: inline-block;
	float: right;
	margin-bottom: 0px;
	font-size: 150% !important;
	font-weight: bold;
	padding-top: 10px;
}
#shop_category {
	display: inline-block;
}
#settings_form {
	text-align: right;
}
#settings_form input, #settings_form select {
	margin: 0 10px 0 4px;
}
#settings_form input:last-child, #settings_form select:last-child {
	margin-right: 0;
}
#settings_form select {
	margin-bottom: 7px;
}
div.navigation {
	margin: 10px 0;
}
div.navigation a.logo {
	display: inline-block;
	width: 23px;
	height: 23px;
	background: #18b5eb;
	color: white;
	padding: 10px;
	font-size: 200%;
	text-align: center;
	vertical-align: baseline;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
div.navigation a.name {
	text-decoration: none;
	display: inline-block;
	margin-left: 5px;
	font-size: 200%;
	font-weight: bold;
	vertical-align: top;
	margin-top: 10px;
	color: #18b5eb;
}
div.navigation a.logo.disable {
	background: #e0e0e0;
	cursor: default;
}
div.navigation div.el {
	display: inline-block;
}
div.navigation div.nav {
	float: right;
}