/* 
	#1b1b1f - темный основной  
	black - текст (темный)
	white - текст (светлый)
	#fee232 - желтый
	#c30e18 - красный
	#444 - серый
*/
#column_center {
	width: 70%;
	margin: 0 10% 0 25%;
}
#content_wrap {
	margin-top: 30px;
}
#main {
	margin: 0 25px;
}
#wrap {
	/*min-width: 1000px;*/
}
footer {
	/*min-width: 950px;*/
}
ul.catalog_menu {
	display: block;
	margin: 15px 0 10px;
}
ul.catalog_menu li {
	display: inline-block;
	margin-right: 7px;
}
ul.catalog_menu li a {
	background: #c30e18;
	color: white;
	text-decoration: none;
	padding: 5px 7px;
}
ul.catalog_menu li a:hover, ul.catalog_menu li a.active {
	background: #1b1b1f;
}
#column_center h2 {
	font-size: 150%;
	font-weight: bold;
	display: inline-block;
}
#breadcrumbs {
	display: inline-block;
	font-weight: bold;
	margin: 14px 0;
}
#breadcrumbs span.active {
	color: #c30e18;
}
#show_on_map {
	background-image: url('../images/map.png');
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 25px !important;
	padding: 7px 10px;
	vertical-align: top;
	margin-left: 5px;
}
#shop_category li {
	display: inline-block;
	font-weight: bold;
	margin-right: 13px;
}
#shop_category {
	margin: 14px 0;
}
#shop_category li.active, #shop_category li a:hover {
	color: #c30e18;
}
#settings_prices {
	display: inline-block;
	float: right;
	margin-bottom: 0px;
	font-size: 150% !important;
	font-weight: bold;
	padding-top: 10px;
}
#settings_prices.my_ads {
	padding-top: 2px;
}
div.catalog {
	margin-top: 5px !important;
}
#top_head.my_ads {
	display: inline-block;
	margin-bottom: 10px;
}
#shop_category {
	display: inline-block;
}
#person_settings {
	margin-top: 15px;
}
#person_settings > div.column {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
#person_settings span.with_icon {
	margin: 7px 0;
}
#person_settings h1 {
	font-size: 170%;
	padding-top: 4px;
	margin: 0 0 4px 0;
}
#person_settings div.column span {
	font-size: 100%;
	display: block;
	margin: 6px 0;
}
#contact_info h1, #add_from_excel h1 {
	font-size: 150%;
	font-weight: bold;
	margin-top: 14px;
	padding-bottom: 14px;
}
#contact_info div.column {
	display: inline-block;
	vertical-align: top;
	margin-right: 18px;
}
#person_settings div.column label, #person_settings div.column span {
	font-size: 100%;
	display: block;
	margin: 5px 0;
	vertical-align: top;
}
#person_settings div.column label:first-child {
	margin-top: 0;
}
#person_settings div.column input {
	border: 1px #a4a4a4 solid;
	height: 22px;
	padding: 0 5px;
	width: 188px;
}
#person_settings div.column select {
	border: 1px #a4a4a4 solid;
	height: 25px;
	width: 200px;
}
#person_settings div.column textarea {
	width: 250px;
	padding: 5px;
	height: 44px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
#person_settings div.column  span.with_icon span {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 5px 0 0;
	background: url('../images/acc_icons.png') no-repeat;
}
#person_settings div.column  span.with_icon span.i_password {
	background-position: -18px 0;
}
#person_settings div.column  span.with_icon span.i_bay {
	background-position: -36px 0;
}
#person_settings div.column  span.with_icon span.i_edit {
	background-position: -54px 0;
}
#person_settings div.column  span.with_icon span.i_del {
	background-position: -72px 0;
}
article.price {
	position: relative;
}
article.price:hover div.controls {
	display: block;
}
article.price div.controls {
	position: absolute;
	top: 0;
	right: 0;
	display: none;
}
article.price div.controls button {
	width: 23px;
	height: 23px;
	margin-left: 3px;
	background: #c30e18 url(/images/control.png) 2px 2px no-repeat;
}
article.price div.controls button.stats {
	background-position: -38px 2px;
}
article.price div.controls button.delete {
	background-position: -19px 2px;
}
article.price div.controls button:hover {
	background-color: #1b1b1f;
}