/* 
	#1b1b1f - темный основной  
	black - текст (темный)
	white - текст (светлый)
	#fee232 - желтый
	#c30e18 - красный
	#444 - серый
*/
div.catalog {
	margin-top: 20px;
}
div.catalog h2 {
	font-size: 150%;
	background: #eee;
	padding: 7px 5px;
	margin: 10px 0;
}
div.catalog table tr {
	width: 100%;
	min-height: 50px;
}
div.catalog table tr:hover {
	background: #ddd;
}
div.catalog table tr td {
	padding: 7px;
	vertical-align: middle;
	border-bottom: 1px #444 solid;
}
div.catalog table tr:last-child td, div.catalog table tr:first-child td {
	border-bottom: 0;
}
div.catalog table tr td.center {
	text-align: center;
}
div.catalog table tr td img.avatar {
	width: 100px;
	height: 100px;
}
div.catalog table tr td.name {
	font-size: 100%;
	font-weight: bold;
}
div.catalog table tr td.params {
	color: #444;
}
div.catalog table tr td.price {
	font-weight: bold;
	font-size: 110%;
	color: #c30e18;
}	
div.catalog table tr td.nowrap {
	white-space: nowrap;
}
div.catalog table tr.top_head {
	height: auto;
}
div.catalog table tr.top_head:hover {
	background: transparent;
}
div.catalog table tr.top_head td {
	font-weight: bold;
	border-right: 1px #444 solid;
	padding: 3px 7px;
	text-align: center;
}
div.catalog table tr.top_head td:last-child {
	border-right: 0;
}