div.share button span {
	width: 5px;
	height: 6px;
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url('../images/lr_arrow.png');
}
div.share_to_right button span {
	margin: 0 0 1px 5px;
	background-position: 0 0;
}
div.share_to_left button span {
	margin: 0 5px 1px 0;
	background-position: 100% 0;
}
div.share_to_left button.active span {
	background-position: 0 100% !important;
}
div.share_to_left button:hover span {
	background-position: 100% 100%;
}
div.share_to_right button.active span {
	background-position: 100% 100% !important;
}
div.share_to_right button:hover span {
	background-position: 0 100%;
}
div.share {
	display: inline-block;
}
div.share div {
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	position: relative;
}
div.share ul li {
	display: inline-block;
	margin-bottom: -1px;
}
div.share ul li a {
	background: url('../images/soc_s.png');
	width: 20px;
	height: 20px;
	display: block;
	padding: 0;
}
div.share ul li a.twitter {
	background-position: 0;
}
div.share ul li a.facebook {
	background-position: -20px 0;
}
div.share ul li a.googleplus {
	background-position: -40px 0;
}
div.share ul li a.vkontakte {
	background-position: -60px 0;
}
div.share_to_left ul {
	position: relative;
	left: 100%;
}
div.share_to_right ul {
	position: relative;
	right: 100%;
}